<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <title>View book</title>
</head>

<body>
    <header>
        <div class="container-fluid">
            <div class="row">
                <h1>My Header</h1>
            </div>
        </div>
    </header>
    <section class="mt-2">
        <div class="container-fluid">
            <div class="row d-flex">
                <%- include('sidebar') %>
                    <div class="col-md-9">
                        <div class="main bg-white p-3">
                            <div class="view">
                                <h1>
                                    Book Title: <%= singleObj.title %>
                                </h1>
                                <img src="<%= singleObj.image %>" height="300" alt="<%= singleObj.title %>">
                                <p class="book-desc">
                                    Author: <%= singleObj.author %>
                                </p>

                                <ul class="gener p-0">
                                    <% singleObj.gener.map((val)=>{ %>
                                        <li>
                                            Gener<%= val %>
                                        </li>
                                        <% }) %>
                                </ul>
                                <p>Total Books: <%= singleObj.total %>
                                </p>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </section>


</body>

</html>